.changePassword, .changePassword__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(49, 49, 49,0.5);
    z-index: 99;

    .changePassword__overlay {
        display: flex;
        align-items: center;
        justify-content: center;

        .changePassword__container {
            width: 50%;
            @include responsive(large) {
                width: 70%;
            }
            @include responsive(medium) {
                width: 80%;
            }
            @include responsive(small) {
                width: 90%;
            }
            .changePassword__content{
                background: #fff;
                padding: 40px 60px;
                border-radius: 10px;
                animation: fade .5s;
                position: relative;
                @include responsive(medium) {
                    padding: 40px;
                }
                @include responsive(small) {
                    padding: 40px 30px;
                }
                .closeModal {
                    position: absolute;
                    top: 8px;
                    right: 20px;
                    z-index: 999;
                    color: $primary-color;
                    font-size: 20px;
                    cursor: pointer;
                }

                .title {
                    margin-bottom: 30px;
                    h2{
                        text-align: center;
                        font-weight: 700;
                        color: $primary-color;
                        @include responsive(small) {
                            font-size: 25px
                        }
                    }
                }
                @include input();

                .changePassword__submit{
                    text-align: center;
                    button {
                        @include button();
                    }
                }
            }
        }
    } 
}

@keyframes fade {
    0%{
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}