.login {
    .title {
        h1 {
            @include title();
        }
    }

    .login__wrapper {
        display: inline-block;
        padding: 60px 80px;
        border-radius: 10px;
        box-shadow: 0 1px 10px 0 #D9D9D9 ;
        width: 600px;

        .form__content{
            @include input();
    
            .form__submit-login {
                .btn-submit-login{
                    @include button();
                }
            }
        }

        .form__info {
            margin: 15px 0;
            font-size: 18px;

            span {
                a{
                    color: $primary-color;
                    font-weight: 500;

                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }

        .form__social {
            .btn-fb {
                outline: none;
                border: none;
                width: 80%;
                padding: 10px 25px;
                border-radius: 10px;
                background: $primary-color;
                color: #fff;
                transition: all .2s;

                &:hover {
                    opacity: .9;
                }

                i {
                    margin-right: 15px;
                    font-size: 25px;
                }

                span {
                    font-size: 18px;
                }
            }
        }
    }
    
}