
nav {
    padding: 10px 0;
    background: #F8F8F8;

    .nav__container {
        width: 95%;
        margin: auto;

        .nav__content {
            .nav__list {
                padding: 0;
                margin: 0;
                
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 30px;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;
                    position: relative;

                    a{
                        color: #000;
                        transition: all .3s;

                        &::after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 3px;
                            right: 50%;
                            bottom: 0px;
                            background: $primary-color;
                            transition: all .3s;
                            color: #fff;
                        }

                        &:hover{
                            color: $primary-color;

                            &::after{
                                right: 0%;
                                width: 100%;
                            }
                        }
                    }
                }

                li.active{
                    a {
                        color: $primary-color;

                        &::after{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            right: 0;
                            bottom: 0px;
                            background: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}