

.register {
    width: 50%;

    .register__wrapper {
        background: #fff;
        height: 570px;
        padding: 0 40px;
        border-radius: 0 10px 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
            h1 {
                color: $primary-color;
                font-weight: 700;
                padding: 10px 0;
                font-size: 30px;
                margin: 0;
            }
        }

        .form__register {
            @include input();
            .form__input{
                height: 75px;

                .messError {
                    font-size: 15px;
                }
            }
            .form__gender {
                text-align: left;
                font-size: 18px;
                // height: 70px;
                display: flex;
                align-items: flex-start;

                span {
                    color: $primary-color;
                }

                label {
                    margin: 0 20px;
                    display: flex;
                    align-items: center;
                    input {
                        display: none;
                    }

                    span {
                        cursor: pointer;
                    }

                    #male {
                        &:checked {
                            + .radio{
                                &::after {
                                    transform: scale(1);
                                }
                            }
                        }
                    }

                    #female {
                        &:checked {
                            + .radio{
                                &::after {
                                    transform: scale(1);
                                }
                            }
                        }
                    }

                    .radio{
                        display: inline-block;
                        margin-right: 8px;
                        width: 20px;
                        height: 20px;
                        padding: 2px;
                        border-radius: 50%;
                        border: 2px solid $primary-color;

                        &::after {
                            content: '';
                            width: 100%;
                            height: 100%;
                            background: $primary-color;
                            display: block;
                            border-radius: 50%;
                            transform: scale(0);
                            transition: all .1s;
                        }
                    }
                }
            }

            .gender{
                height: 50px;
            }

            .messError{
                text-align: left;
                color: #df1010;
                &::first-letter{
                    text-transform: capitalize;
            }
            }
            .form__submit-register {
                .btn-submit-register {
                    @include button();
                }
            }
        }
        .form__info {
            margin-top: 7px;
            font-size: 17px;

            span {
                a{
                    color: $primary-color;
                    font-weight: 500;

                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }
    }
    .Toastify__toast-body > div:last-child {
        text-align: left;
    }
}