@mixin title () {
        color: $primary-color;
        text-align: center;
        font-weight: bold;
        font-size: 45px;
        position: relative;
        margin: 50px auto;
        @include responsive(small){
            font-size: 35px;
        }
}

@mixin button () {
    padding: 10px 35px;
    outline: none;
    border: none;
    background: transparent;
    box-shadow: 0 0 0 2rem $primary-color inset;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    transition: all .4s;

        &:hover{
            box-shadow: 0 0 0 1px $primary-color inset;
            color: $primary-color;
        }
}

@mixin input () {
    .form__input {
        position: relative;
        height: 90px;

        input{
            padding: 10px 16px;
            width: 100%;
            outline: none;
            border: 1px solid $primary-color;
            border-radius: 5px;
            margin: 0;

            &:valid ~ span, &:focus ~ span {
                transform: translateY(-21px);
                padding: 0 15px;
                background: white;
                color: $primary-color;
                border-radius: 20px;
                font-size: 13px;
                font-weight: 600;
            }
        }

        span {
            position: absolute;
            top: 12px;
            left: 18px;
            pointer-events: none;
            transition: all .3s;
            color: #8f8f8f;
        }

        .fa-eye, .fa-eye-slash{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 16px;
            right: 18px;
            cursor: pointer;

            &:hover {
                opacity: .9;
            }
        }

        .messError {
            text-align: left;
            color: #df1010;
            @include responsive(medium) {
                font-size: 15px;
            }
            &::first-letter{
                text-transform: capitalize;
            }

            
        }
    }
}

@mixin responsive($breakpoint) {
    @if $breakpoint == extra-large {
        // width < 1200px
        @media (max-width: 75em) {
            @content;
        }
    };
    @if $breakpoint == large {
        // width < 992px
        @media (max-width: 62em) {
            @content;
        }
    };
    @if $breakpoint == medium {
        // width < 768px
        @media (max-width: 48em) {
            @content;
        }
    };
    @if $breakpoint == small {
        // width < 576px
        @media (max-width: 36em) {
            @content;
        }
    }
}